.experiances {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(40rem / 16);
    width: 100%;
    padding: 0 16px;
}

.experiances__line {
    width: 100%;
}

.experiances__line__bottom {
    width: 100%;
}

.experiances_boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(24rem / 16);
}

@media (min-width: 768px) {
    .experiances {
        align-items: start;
        padding: 0 32px;
    }

    .experiances_boxs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(24rem / 16) calc(121rem / 16)
    }

    .experiances__line__bottom {
        display: none;
    }

}

@media (min-width: 1440px) {
    .experiances {
        padding: 0 165px;
        gap: calc(72rem / 16);
    }

    .experiances_boxs {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap: calc(60rem / 16) calc(100rem / 16)
    }
}