.projectBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(18rem / 16);
}

.projectBox__cover__img {
    width: 100%;
}

.projectBox__info {
    display: flex;
    flex-direction: column;
    gap: calc(7rem / 16);
}

.projectBox__name {
    font-size: calc(24rem / 16);
    line-height: 32px;
    font-weight: bold;
}

.projectBox__technology {
    display: flex;
    flex-direction: row;
    gap: calc(18rem / 16);
    font-size: calc(18rem / 16);
    line-height: 28px;
}

.projectBox__see_more {
    display: flex;
    flex-direction: row;
    gap: calc(30rem / 16);
}

.projectBox__see_more__link {
    display: flex;
    flex-direction: column;
    gap: calc(10rem / 16);
}

.projectBox__see_more__text {
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 2.29px;
    color: var(--font-color-1);
    text-decoration: none;
}

.projectBox__see_more__text:hover {
    color: var(--color-2);
}

.projectBox__see_more__line {
    background-color: var(--color-2);
    color: var(--color-2);
    width: 100%;
    height: 2px;
    border: 0;
}

.hidden {
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
    .projectBox {
        position: relative;
    }

    .projectBox__cover__img {
        width: 540px;
        height: 400px;
    }

    .projectBox__see_more {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 540px;
        height: 400px;
        position: absolute;
        background-color: var(--color-1);
        opacity: 85%;
        gap: calc(48rem / 16);
    }

    .projectBox__see_more:hover {
        display: flex;
        cursor: pointer;
    }

    .show {
        display: flex;
    }

}
