.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(87rem/16);
    width: 100%;
    padding: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(40rem/16);
}

.contact_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(20rem/16);
}

.contact_information__header {
    font-weight: bold;
    letter-spacing: -1.14px;
    font-size: calc(40rem/16);
    line-height: 40px;
}

.contact_information__text{
    color: var(--font-color-2);
    line-height: 26px;
    text-align: center;
}

.contact__line {
    width: 100%;
}

@media (min-width: 768px) {
    .contact__container {
        padding: 0 32px;
    }
}
