:root {
    /*black*/
    --color-1: hsl(0, 0%, 8%);
    /*green*/
    --color-2: hsl(153, 71%, 59%);
    /*dark grey*/
    --color-3: hsl(0, 0%, 14%);
    /*light grey*/
    --color-4: hsl(0, 0%, 85%);
    /*white*/
    --color-5: hsl(0, 0%, 100%);
    /*orange*/
    --color-6: hsl(7, 100%, 68%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(80rem/16);
    padding-top:  calc(16rem/16);
    width: 100%;
    position: relative;


}
.top_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
}

.middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(80rem/16);
}

.middle_container_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle_container_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(80rem/16);
}

.bottom_container {
    background-color: var(--color-3);
    padding-bottom: 16px;
}

.background__patterns {
    background-image:
            url('./assets/pattern-circle.svg'),
            url('./assets/pattern-rings.svg') ;
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% + 60px) 5.5%, calc(0% - 320px) 3%;
    position: absolute;
}
.background__pattern__circle__top {
    background-image: url('./assets/pattern-circle.svg');
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    width: 129px;
    height: 129px;
    top: 250px;
    right: 0;
    overflow: hidden;
    background-position: 65px 0;
}

.background__pattern__rings__top {
    background-image: url('./assets/pattern-rings.svg');
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 129px;
    top: 130px;
    background-position: -320px 0;

}

.background__pattern__rings__middle {
    background-image: url('./assets/pattern-rings.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 350px) calc(0% + 530px)
}

.background__pattern__rings__bottom {
    background-image: url('./assets/pattern-rings.svg');
    background-repeat: no-repeat;
    background-position: calc(0% - 350px) calc(100% - 210px)
}

@media (min-width: 768px) {
    .container {
        gap: calc(100rem/16);
        padding-top:  calc(32rem/16);
        overflow: hidden;
    }

    .top_container {
        padding-bottom: 0;
    }
    .middle_container_top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start ;
    }
    .bottom_container {
        padding-bottom: 40px;
    }

    .background__pattern__circle__top {
        top: 470px;

    }

    .background__pattern__rings__middle {
        background-position: calc(100% + 350px) calc(0% + 310px)
    }

    .background__pattern__rings__bottom {
        background-position: calc(0% - 350px) calc(100% - 100px);}
}