:root {
    /*black*/
    --color-1: hsl(0, 0%, 8%);
    /*green*/
    --color-2: hsl(153, 71%, 59%);
    /*dark grey*/
    --color-3: hsl(0, 0%, 14%);
    /*light grey*/
    --color-4: hsl(0, 0%, 85%);
    /*white*/
    --color-5: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(80rem/16);
    padding: 16px;
    position: relative;

}
.top_container {

    padding-bottom: 250px;
}

