:root {
/*black*/
  --main-background-color: hsl(0, 0%, 8%);
  /*white*/
  --font-color-1: hsl(0, 0%, 100%);
  /*light grey*/
  --font-color-2: hsl(0, 0%, 85%);
}

:root.light {
  /*white*/
  --main-background-color: hsl(0, 0%, 100%);
  /*black*/
  --font-color-1: hsl(0, 0%, 8%);
  /*dark grey*/
  --font-color-2: hsl(0, 0%, 14%);
}

body {
  background-color: var(--main-background-color);
  color: var(--font-color-1);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}