.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.socialmedia__icon__img {
    width: 20px;
    height: 20px;
    fill: var(--font-color-1)
}

.socialmedia__icon__img svg {
    display: block;
    vertical-align: middle;
}

.socialmedia__icon__img_twitter {
    width: 20px;
    height: 20px;
    fill: var(--font-color-1)
}

.socialmedia__icon__img svg {
    display: block;
    vertical-align: middle;
    max-height: 30px;
    width: 120%;
}


.socialmedia__icon__img:hover {
    fill: var(--color-2)

}