.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(24rem / 16);
    padding: 0 16px;
}

.about_me__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(24rem / 16);
}

.about_me__header {
}

.about_me__header__text {
    font-size: calc(40rem / 16);
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1.14px;
    text-align: center;
}

.about_me__header__text__name {
    border-bottom: 4px solid var(--color-2);
}

.about_me__info__text {
    color: var(--font-color-2);
    line-height: 26px;
    text-align: center;
}

@media (min-width: 768px) {
    .about_me {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: calc(34rem / 16);
        padding: 0 32px;
        max-width: 80%;
    }

    .about_me__info {
        align-items: flex-start;
        gap: calc(60rem / 16);
    }

    .about_me__header {
        z-index: 2;
    }

    .about_me__header__text {
        font-size: calc(72rem / 16);
        line-height: calc(72rem / 16);
        letter-spacing: -2.05px;
        text-align: left;
    }

    .about_me__info__container {
        max-width: 400px;
    }

    .about_me__info__text {
        text-align: left;
        font-size: calc(18rem / 16);
        line-height: 28px;
    }
}

@media (min-width: 1440px) {
    .about_me {
        padding: 0 165px 0 165px;
        gap: calc(66rem / 16);
    }

    .about_me__info {
        gap: calc(43rem / 16);

    }

    .about_me__header__text {
        font-size: calc(88rem / 16);
        line-height: calc(88rem / 16);
        letter-spacing: -2.5px;
    }

    .about_me__info__container {
        max-width: 445px;
    }
}
